*{

font-family: 'hello';
}
body{
background-color:rgb(244,244,244);
}
.spinner {
    margin-top: 12px;
    height: 10em;
    width: 0.13em;
}

.sticky {
    position: fixed;
    top: 0px;
}

.menu-padding {
    top: 60px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #fff;
    color: rgb(64, 44, 100);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: rgb(64, 44, 100);
}

.btn-primary:active,
.btn-primary.active {
    background: rgb(64, 44, 100);
    box-shadow: none;
}
/*button sharp*/
/**************************
DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 16px;
}

.btn-lg {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-primary {
    color: #fff;
    background-color: rgb(64, 44, 100);
    border-color: rgb(64, 44, 100);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #fff;
    color: rgb(64, 44, 100);
    border: 0px solid rgb(64, 44, 100);
}
/***********************
SHARP BUTTONS
************************/

.sharp {
    border-radius: 0;
}
/***********************
CUSTON BTN VALUES
************************/

.btn {
    padding: 10px 10px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: rgb(64, 44, 100);
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: #ffffff;
}

.btn-primary:active,
.btn-primary.active {
    background: #ffffff;
    box-shadow: none;
    color: rgb(64, 44, 100);
    border: 0px solid rgb(64, 44, 100);
}

.btn-r{
  border-radius: 100%;
  margin-bottom: 10px;
  height:40px;
  width:40px;
  border:1px solid rgb(66,44,100);
  background-color: white;
  color:rgb(66,44,100);
  -webkit-box-shadow: 0 10px 8px -6px #777;
  border-radius: 100%;
}
.btn-r:active{
  border-radius: 100%;
  margin-bottom: 3px;
  height:35px;
  width:35px;
  border:1px solid rgb(66,44,100);
  background-color: white;
  color:rgb(66,44,100);
  -webkit-box-shadow: 0 10px 8px -6px #777;
  border-radius: 100%;
}
