*{

font-family: 'hello';
}
body{
background-color:rgb(244,244,244);
}
.spinner {
    margin-top: 12px;
    height: 10em;
    width: 0.13em;
}

.sticky {
    position: fixed;
    top: 0px;
}

.menu-padding {
    top: 60px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #fff;
    color: rgb(64, 44, 100);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: rgb(64, 44, 100);
}

.btn-primary:active,
.btn-primary.active {
    background: rgb(64, 44, 100);
    box-shadow: none;
}
/*button sharp*/
/**************************
DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 16px;
}

.btn-lg {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-primary {
    color: #fff;
    background-color: rgb(64, 44, 100);
    border-color: rgb(64, 44, 100);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #fff;
    color: rgb(64, 44, 100);
    border: 0px solid rgb(64, 44, 100);
}
/***********************
SHARP BUTTONS
************************/

.sharp {
    border-radius: 0;
}
/***********************
CUSTON BTN VALUES
************************/

.btn {
    padding: 10px 10px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: rgb(64, 44, 100);
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: #ffffff;
}

.btn-primary:active,
.btn-primary.active {
    background: #ffffff;
    box-shadow: none;
    color: rgb(64, 44, 100);
    border: 0px solid rgb(64, 44, 100);
}
/*search box*/

.search_box {
    background-color: rgb(64, 44, 100);
    margin: 4% 4% 4% 4%;
    padding: 4% 0% 4% 0%;
}
/*button_position*/

.button_position {
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}
/*todat tomorrow*/
.today_tomorrow{
  padding:5% 0% 5% 0%;
  margin:15% 0% 0% 0%;
}
.today_button{
margin:0% 0% 0% 0%;
padding:0% 0% 0% 0%;
}
/*main table for train b/w 2 station*/
.responsive_table{
border:0px solid white;
padding:0% 0% 0% 0%;
margin:0% 0% 0% 0%;
}
/*status*/
.status{
background-color:rgb(66,44,100);
color:white;
margin:10px;
font-size:20px ;
font-weight:lighter;
text-align:center;
}

/*  .label-warning
{
color:white;
margin:10px;
font-size:20px ;
font-weight:lighter;
text-align:center;
}*/
/*dustbin*/

/*history table*/
.hist{
position:absolute;
font-size: 15px;
  padding:9px 0px 0px 8px;
  margin:0px 0px 0px 0px;
}


#table_data{
border:0px solid  rgb(244,244,244);
padding:10px 0px 10px 12px;
margin:0px 0px 0px 0px;
}
#data_hist{
font-size:15px;
color:black;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;

}
.ul{
    list-style-type: none;
    color:white;
    background-color: rgb(66,44,100);
}
.title{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}
.ul{
    list-style-type: none;
    color:white;
    background-color: rgb(66,44,100);
    padding-bottom: 7px;
}
.title{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}
.date_here {
    word-spacing:-0.8em;
    padding:0px 0px 0px 0px;
}
.calendaricon{
    padding:11px 6px 9px 6px;
    margin:-1px 0px 0px 0px;
}
.glyphicon-heart-empty{
    color:rgb(66,44,100);

}
  .glyphicon-heart{
    color:rgb(66,44,100);

}
.under{
    border-bottom: 2px solid white;
}
a:hover,a:active,a:visited{
  text-decoration: none;
}
.success{
  background-color:rgba(43,193,25,.20);
}
.icon{
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px -30px;
 }
 .btn-r{
   margin-bottom: 10px;
   height:40px;
   width:40px;
   border:1px solid rgb(66,44,100);
   background-color: white;
   color:rgb(66,44,100);
   -webkit-box-shadow: 0 10px 8px -6px #777;
   border-radius: 100%;
 }
 .btn-r:active{
   margin-bottom: 3px;
   height:35px;
   width:35px;
   border:1px solid rgb(66,44,100);
   background-color: white;
   color:rgb(66,44,100);
   -webkit-box-shadow: 0 10px 8px -6px #777;
   border-radius: 100%;
 }
