/*search box*/

.search_box {
    background-color: rgb(64, 44, 100);
    margin: 4% 4% 4% 4%;
    padding: 4% 0% 4% 0%;
}
/*button_position*/

.button_position {
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}
/*todat tomorrow*/
.today_tomorrow{
  padding:5% 0% 5% 0%;
  margin:15% 0% 0% 0%;
}
.today_button{
margin:0% 0% 0% 0%;
padding:0% 0% 0% 0%;
}
/*main table for train b/w 2 station*/
.responsive_table{
border:0px solid white;
padding:0% 0% 0% 0%;
margin:0% 0% 0% 0%;
}
/*status*/
.status{

color:black;
margin:10px;
font-size:20px ;
font-weight:lighter;
text-align:center;
}

/*  .label-warning
{
color:white;
margin:10px;
font-size:20px ;
font-weight:lighter;
text-align:center;
}*/
/*dustbin*/

/*history table*/
.hist{
position:absolute;
font-size: 15px;
  padding:9px 0px 0px 8px;
  margin:0px 0px 0px 0px;
}


#table_data{
border:0px solid  rgb(244,244,244);
padding:10px 0px 10px 12px;
margin:0px 0px 0px 0px;
}
#data_hist{
font-size:15px;
color:black;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;

}
.ul{
    list-style-type: none;
    color:white;
    background-color: rgb(66,44,100);
}
.title{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}
.ul{
    list-style-type: none;
    color:white;
    background-color: rgb(66,44,100);
    padding-bottom: 7px;
}
.title{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}
.date_here {
    word-spacing:-0.8em;
    padding:0px 0px 0px 0px;
}
.calendaricon{
    padding:11px 6px 9px 6px;
    margin:-1px 0px 0px 0px;
}
.glyphicon-heart-empty{
    color:rgb(66,44,100);

}
  .glyphicon-heart{
    color:rgb(66,44,100);

}
.under{
    border-bottom: 2px solid white;
}
a:hover,a:active,a:visited{
  text-decoration: none;
}
.success{
  background-color:rgba(43,193,25,.20);
}
.icon{
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px -30px;
 }

.glyphicon-time{
  color:rgba(66,44,100,0.8);
}
