    .box_button{
  margin:0px 0px 15px 0px;
  padding:3% 0px 0px 0px;
    }
    .navi{
      padding:0px 0px 0px 0px;
      margin:0px 0px 0px 0px;
    }
    .boxing{
    margin:0px 10px 0px 10px;
    padding:14px 14px 2px 21px;
    -webkit-box-shadow: 0 10px 6px -6px #777
    }
    .ul{
        list-style-type: none;
        color:white;
        background-color: rgb(66,44,100);
        padding-bottom: 7px;
    }
    .title{
        padding:0px 0px 0px 0px;
        margin:0px 0px 0px 0px;
    }
    .under{
        border-bottom: 2px solid white;
    }
    a:hover,a:active,a:visited{
      text-decoration: none;
    }
    /*status*/
    .status{
      margin:10px;
      font-size:20px ;
      font-weight:lighter;
      text-align:center;
      -webkit-shadow-box:0 10px 6px -6px #777;
    }
    .icon{
      padding:0px 0px 0px 0px;
      margin:0px 0px 0px -30px;
     }
     .success{
       background-color:rgba(43,193,25,.20);
     }
